
body {
  width: 360px;
  margin: 0 auto;
}

.canvas-title {
  margin: 55px auto 25px;
}

/*=======[ Canvas Toolbar ]=======*/
canvas-toolbar{
  display: block;
  text-align: center;
  background: #ECECEC;
  border: 1px solid #DDD;
  padding: 7px;
}

canvas-toolbar button{
  min-width: 35px;
  margin-right: 5px;
}

/*=======[ Canvas Editor ]=======*/
canvas-editor{
  display: block;
  background: white;
  padding: 15px;
  width: 100%;
  max-width: 950px;
  margin: 0 auto 15px;
}

canvas-editor.canvas-read-mode canvas-actions{
  display: none;
}

/*=======[ Canvas Sub Editor ]=======*/
canvas-sub-editor {
  display: block;
}

canvas-sub-editor .canvas-focus {
  border: 1px solid #5c90d2;
  padding: 5px;
}

canvas-sub-editor *{
  outline: none;
}

canvas-sub-editor.sortable-ghost {
  border: 3px dashed #DDD;
  margin-bottom: 15px;
}

canvas-sub-editor.sortable-ghost *{
  color: transparent;
  background: transparent;
}

canvas-sub-editor.sortable-ghost canvas-actions button{
  background: white;
  border-color: white;
}

canvas-sub-editor.sortable-dragging{
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
  /*background: #FFFF93;*/
  background: white;
  border: 1px solid rgba(0,0,0,.1);
  border-bottom: 3px solid rgba(0,0,0,.2);
  padding: 5px;
}

canvas-sub-editor.sortable-dragging canvas-actions{
  display: none;
}

canvas-sub-editor.sortable-dragging span.number{
  color: transparent;
}

canvas-list canvas-sub-editor span.number {
  display: inline-block;
  width: 9%;
  float: left;
}


canvas-list canvas-sub-editor p{
  display: inline-block;
  width: 91%;
  float: left;
}

canvas-list canvas-actions {
  clear: both;
  margin-left: 9%;
  display: block;
}

/*canvas-sub-editor:hover canvas-actions {
  display: block;
}*/

/*=======[ Canvas Actions ]=======*/
canvas-actions {
  display: block;
  margin: 5px auto 15px;
}

/*=======[ Canvas List ]=======*/
canvas-list{
  display: block;
  padding: 5px 0 5px 15px;
}

/*=======[ Canvas Editable ]=======*/
canvas-editable {
  cursor: pointer;
}

/*=======[ Canvas Popover ]=======*/
canvas-popover{
  box-shadow: 0 -3px 3px 0 rgba(0,0,0,.1);
  width: 100%;
  display: block;
  background: white;
  padding: 15px;
  border: 1px solid #ddd;
  position: fixed;
  bottom: 0;
  left: 0;
}

canvas-popover{
  width: 360px;
  left: 36.7%;
}

canvas-popover.hide{
  display: none;
}
canvas-popover .main-input{
  text-align: center;
}
canvas-popover .pika-lendar{
  width: 93%;
}
canvas-popover .pika-single{
  border: 0;
  margin: 10px auto;
}
canvas-popover input, canvas-popover select{
  width: 100%;
  border: 1px solid #ddd;
  padding: 7px;
  background: white;
}

canvas-popover [popover-radio-check] {
  text-align: left;
  margin-top: 15px;
}

canvas-popover input[type=checkbox], canvas-popover input[type=radio]{
  width: auto;
}

canvas-popover label{
  margin-right: 8px;
  vertical-align: middle;
}
